<template>
  <div>
    <h1>Articles</h1>
    <div class="row mb-2"  v-if="isLogged">
      <div class="col-sm-3">
        <input type="checkbox" v-model="showMine" @change="toggleShowMine">
        <label>Show only mine articles</label>
      </div>
      <div class="col-sm-9 text-right">
        <button type="button" class="btn btn-primary" @click="create">Create article</button>
      </div>
    </div>
    <div class="row">
    <div class="col-sm-4 mt-3" v-for="article in articles" :key="article">
      <div class="card">
        <div class="card-header">
          {{article.title}}
        </div>
        <div class="card-body">{{article.description}}</div>
        <div class="card-footer">
          <button type="button" class="btn btn-primary" @click="view(article.id)">View</button>
          <button type="button" class="btn btn-primary ml-2" @click="edit(article.id)" v-if="isLogged">Edit</button>
        </div>
      </div>
    </div>

    </div>
  </div>
</template>

<script>
import articleService from '../service/articleservice'

export default {
  name: 'Article',
  data(){
    return{
      showMine: false,
      articles: []
    }
  },
  methods:{
    async getArticles(){
      const { data } =  await articleService.getArticles()
      this.articles = data
    },
    async getMineArticles(){
      const { data } = await articleService.getAllMine()
      this.articles = data
    },
    async toggleShowMine(){
      if(!this.showMine){
        await this.getArticles()
      }
      else{
        await this.getMineArticles()
      }
    },
    view(id){
      this.$router.push({name:"ArticleView", params:{id:id}})
    },
    edit(id){
      this.$router.push({name:"ArticleEdit", params:{id:id}})
    },
    create(){
      this.$router.push({name:"ArticleCreate"})
    }
  },
  computed:{
    isLogged(){
      return this.$store.state.isLogged
    },
    userId(){
      return this.$store.state.user.id
    }
  },
  mounted(){
    this.getArticles()
  }
}
</script>
