<template>
    <div>
        <div class="card">
            <div class="card-header"><b>Login</b></div>
            <div class="card-body">
               <div class="form-group">
                    <label>Email</label>
                    <input type="email" class="form-control" placeholder="Enter email" v-model="userLogin.email" maxlength="100">
                    <error-view :errors='v$.userLogin.email.$errors' />
               </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" v-model="userLogin.password" maxlength="100">
                    <error-view :errors='v$.userLogin.password.$errors' />
               </div>
               <button class="btn btn-primary" @click="login">Login</button>
            </div>
        </div>
    </div>
</template>

<script>
import articleService from '../service/articleservice'
import useVuelidate from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'
import ErrorView from '../components/ErrorView.vue'

export default {
    name:'Login',
    components:{
        'error-view': ErrorView
    },
    setup () {
        return { v$: useVuelidate() }
    },
    validations () {
    return {
      userLogin:{
          email: { required, email, $autoDirty: true },
          password: { required, $autoDirty: true },
      }
     }
    },
    data(){
        return {
        userLogin:{
            email: null,
            password: null
        }
     }
    },
    methods:{
        async login(){
            const isFormValid = await this.v$.$validate()

            if (!isFormValid) return

            const { data } = await articleService.login(this.userLogin)

            this.$store.dispatch('login', data)
            .then(() => this.$router.push('/article'))
            .catch(err => console.log(err))
        }
    }
}
</script>
