<template>
  <div>
      <form v-if="!isSuccess">
          <div class="form-group">
              <label>First name</label>
               <input type="text" class="form-control" v-model="userSignup.firstName" maxlength="100">
               <error-view :errors='v$.userSignup.firstName.$errors' />
          </div>
         <div class="form-group">
              <label>Last name</label>
               <input type="text" class="form-control" v-model="userSignup.lastName" maxlength="100">
               <error-view :errors='v$.userSignup.lastName.$errors' />
          </div>
          <div class="form-group">
              <label>Email</label>
               <input type="email" class="form-control" placeholder="Enter email" v-model="userSignup.email" maxlength="255">
               <error-view :errors='v$.userSignup.email.$errors' />
          </div>
          <div class="form-group">
              <label>Password</label>
               <input type="password" class="form-control" v-model="userSignup.password" maxlength="100">
               <error-view :errors='v$.userSignup.password.$errors' />
          </div>
            <button class="btn btn-primary" @click="signup">Sign up</button>
      </form>
      <div v-if="isSuccess">
          <h1 class="text-success">Your account has been successfully created. Please proceed to login</h1>
          <button type="button" class="btn btn-primary" @click="login">Go to Login</button>
      </div>
  </div>
</template>

<script>
import articleService from '../service/articleservice'
import useVuelidate from '@vuelidate/core'
import { required, email } from '@vuelidate/validators'

import ErrorView from '../components/ErrorView.vue'

export default {
    name: "Signup",
    components:{
        'error-view': ErrorView
    },
    setup () {
        return { v$: useVuelidate() }
    },
    validations () {
    return {
      userSignup:{
          firstName: { required, $autoDirty: true },
          lastName: { required, $autoDirty: true },
          email: { required, email, $autoDirty: true },
          password: { required, $autoDirty: true },
      }
    }
    },
    data(){
        return {
            userSignup:{
                firstName: null,
                lastName: null,
                email: null,
                password: null,
            },
            isSuccess: false,
        }
    },
    methods:{
        async signup(){
            const isFormValid = await this.v$.$validate()

            if (!isFormValid) return

            await articleService.signup(this.userSignup)
            this.isSuccess = true
        },
        login(){
            this.$router.push({name:'Login'})
        }
    }
}
</script>
