<template>
    <div>
    <div>
        <h1>{{articleView.title}}</h1>
    </div>
    <div>
        {{articleView.description}}
    </div>
    </div>
</template>

<script>
import articleService from '../service/articleservice'

export default {
    name: 'ArticleView',
    data(){
        return{
            articleView:{
                title: null,
                description: null,
            }
        }
    },
    methods:{
        async getArticle(id){
           const { data} = await articleService.getArticle(id)
           this.articleView = data
        }
    },
    async mounted(){
        let idParam = this.$route.params.id

        if(idParam){
            await this.getArticle(idParam)
        }
    }
}
</script>