<template>
    <div>
        <form>
        <div class="form-group">
              <label>Title</label>
               <input type="text" class="form-control" v-model="articleEdit.title" maxlength="255">
               <error-view :errors='v$.articleEdit.title.$errors' />
          </div>
        <div class="form-group">
              <label>Description</label>
               <textarea class="form-control" v-model="articleEdit.description" maxlength="2000" />
               <error-view :errors='v$.articleEdit.description.$errors' />
          </div>
          <button type="button" class="btn btn-primary" @click="edit(articleEdit)" :disabled="!isLoaded">Save</button>
        </form>
    </div>
</template>

<script>
import articleService from '../service/articleservice'
import useVuelidate from '@vuelidate/core'
import { required } from '@vuelidate/validators'
import ErrorView from '../components/ErrorView.vue'

export default {
    name: 'ArticleEdit',
    components:{
        'error-view': ErrorView
    },
    setup () {
        return { v$: useVuelidate() }
    },
    validations () {
    return {
      articleEdit:{
          title: { required, $autoDirty: true },
          description: { required, $autoDirty: true },
      }
     }
    },
    data(){
        return{
            isLoaded: false,
            articleEdit:{
                id: null,
                title: null,
                description: null,
            }
        }
    },
    methods:{
        async getArticle(id){
            try{
                const { data } = await articleService.getArticle(id)
                this.articleEdit = data
                this.isLoaded = true
            }
            catch(error){
                this.isLoaded = false
            }
        },
        async edit(article){
            const isFormValid = await this.v$.$validate()

            if (!isFormValid) return

            await articleService.updateArticle(article)
            this.$notify({ type: "success", text: "Article updated" })
            this.$router.push('/article')
        }
    },
    async mounted(){
        let id = this.$route.params.id

        if(id){
            await this.getArticle(id)
        }
    }
}
</script>