<template>
    <div>
        <form>
        <div class="form-group">
              <label>Title</label>
               <input type="text" class="form-control" v-model="articleCreate.title" maxlength="255">
               <error-view :errors='v$.articleCreate.title.$errors' />
          </div>
        <div class="form-group">
              <label>Description</label>
               <textarea class="form-control" v-model="articleCreate.description" maxlength="2000" />
               <error-view :errors='v$.articleCreate.description.$errors' />
          </div>
          <button type="button" class="btn btn-primary" @click="create(articleCreate)">Save</button>
        </form>
    </div>
</template>

<script>
import articleService from '../service/articleservice'
import useVuelidate from '@vuelidate/core'
import { required } from '@vuelidate/validators'
import ErrorView from '../components/ErrorView.vue'

export default {
    name: 'ArticleCreate',
    components:{
        'error-view': ErrorView
    },
    setup () {
        return { v$: useVuelidate() }
    },
    validations () {
    return {
      articleCreate:{
          title: { required, $autoDirty: true },
          description: { required, $autoDirty: true },
      }
     }
    },
    data(){
        return{
            articleCreate:{
                title: null,
                description: null,
            }
        }
    },
    methods:{
        async create(article){
            const isFormValid = await this.v$.$validate()

            if (!isFormValid) return

            await articleService.createArticle(article)
            this.$notify({ type: "success", text: "Article created" })
            this.$router.push('/article')
        }
    }
}
</script>