<template>
<div>
    <span v-for="error of errors" class="text-danger" :key="error.$uid">
            {{ error.$message }}
    </span>
</div>
</template>

<script>
export default {
    name: 'ErrorView',
    props:{
        errors:{
            type: Array,
            default: ()=> []
        }
    }
}
</script>