<template>
<div  class="row">
  <div id="nav" class="col-sm-6 text-left p-5">
    <router-link to="/">Home</router-link>
    <router-link to="/article">| Article</router-link>
    <router-link to="/signup" v-if="!$store.state.isLogged">| Sign up</router-link>
    <router-link to="/login" v-if="!$store.state.isLogged">| Log in</router-link>
    <a href="javascript:;" @click="logout" v-if="$store.state.isLogged">| Logout</a>
  </div>
  <div class="col-sm-6 text-right p-5" v-if="$store.state.isLogged">
    <p>Welcome {{$store.state.user?.email}}</p>
  </div>
</div>
  <router-view/>

  <notifications />
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>

<script>
export default {
  name: 'App',
  methods:{
    logout(){
      this.$store.dispatch('logout')
            .then(() => this.$router.push('/article'))
            .catch(err => console.log(err))
    }
  },
  mounted(){
    this.$store.dispatch("restoreUser")
  }
}
</script>
